.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.725rem;
    color: #00adb5;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #00adb5;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
body{
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align:center;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}


.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.skills-table{
    text-align: left;
}


#end{
    color:black;
    font-size:0.75rem;
    padding: 20px 0;
}


.skills-row{
    width:50%;
    margin: 100px auto;
    text-align:left;
    line-height: 2 ;
}

.skills-images{
    width:25%;
    float: left;
    margin: auto 30px auto auto;
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gold;
    border-width: 5px;
    width: 5%;
    margin: 50px auto;
}

.profile{
    margin-top:50px;
}

.intro{
    width:30%;
    margin:auto;
}

p{
    line-height:2;
}

.BUTTON_JQO {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 100;
    padding: 10px 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

    .BUTTON_JQO:hover {
        border: solid #337FED 1px;
        background: #33E3CB;
        background-image: -webkit-linear-gradient(top, #33E3CB, #2AB4CD);
        background-image: -moz-linear-gradient(top, #33E3CB, #2AB4CD);
        background-image: -ms-linear-gradient(top, #33E3CB, #2AB4CD);
        background-image: -o-linear-gradient(top, #33E3CB, #2AB4CD);
        background-image: -webkit-gradient(to bottom, #33E3CB, #2AB4CD);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;
    }

a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration:none;
}

a:hover{
    color:black;
}
