.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 45px;
}
h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.middle-container{

}

.bottom-container{
}

/*.pro{*/
/*    text-decoration: underline;*/
/*}*/
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.skills-table{
    text-align: left;
}

