.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.725rem;
    color: #00adb5;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #00adb5;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
body{
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align:center;
}

.middle-container{

}

.bottom-container{
}

/*.pro{*/
/*    text-decoration: underline;*/
/*}*/
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.skills-table{
    text-align: left;
}

a {
    color: #11999E;
}

.skills-row{
    width:50%;
    margin: 100px auto;
    text-align:left;
    line-height: 2 ;
}

.skills-images{
    width:25%;
    float: left;
    margin: auto 30px auto auto;
}